@charset "UTF-8";

:root {
    --color0: #DAD2C4;
    --color1: #F0E7D8;
    --color2: #B5C5B8;
    --color3: #79A397;
    --color4: #3D8177;
    --color5: #015E56;
    --color6: #186D65;
}

body {
    background-color: var(--color6);
}

header {
    background: linear-gradient(to bottom, var(--color3), var(--color6));
    padding: 10px;
    margin: -10px;
    box-shadow: 1px 5px 12px 1px rgba(0, 0, 0, 0.39);
}

picture > img {
    max-width: 400px;
    display: block;
    margin: auto;
}

header > h1 {
    text-align: center;
    color: white;
 }

header > h2 {
    color: white;
        font-size: 14px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    padding-top: 15px;
}

nav > a {
    margin-right: 10px;
    text-decoration: none;
    color: var(--color6);
    background-color: var(--color2);
    border-radius: 5px;
    padding: 5px 7px 5px 7px;
}

nav > a:hover {
    background-color: aquamarine;
    color: #024059;
}

main {
    background-color: var(--color0);
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding-bottom: 30px;
}

main > h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.281);
    color: #0b9489;
    padding-top: 15px;
}

main > h2 {
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, var(--color0), var(--color6));
}

main > p {
    text-align: justify;
    margin: 16px 16px 16px 16px;
    text-indent: 2em;

}

main > a {
    width: 50%;
    display: block;
    margin: auto;
}

div.location {
    width: 70%;
    display: block;
    margin: auto;
}

ul {
    list-style-type: circle;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size: 18px;
    padding-bottom: 20px; 
}

aside {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding: 1px 20px 10px 20px;
}

aside > h1 {
    text-align: center;
    font-size: 2em;
}

aside > h2 {
    text-align: center;
}

footer {
    background-color: #274450;
    margin-left: -10px;
    margin-right: -10px;
}

footer > p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px;
    margin-top: -15px;
}