@charset "UTF-8";

header {
    background: linear-gradient(to bottom, #23af69a4, #024059);
    padding: 10px;
    margin: -10px;
    box-shadow: 1px 5px 12px 1px rgba(0, 0, 0, 0.26)
}

header > h1 {
    text-align: center;
    color: white;
 }

header > h2 {
    color: white;
    font-size: 14px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    padding-top: 15px;
}

nav > a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    background-color: #024059;
    border-radius: 5px;
    padding: 5px 7px 5px 7px
}

nav > a:hover {
    background-color: aquamarine;
    color: #024059;
}

section {
    background-color: #024059;
}

main {
    background-color: bisque;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding-bottom: 30px;
}

main > h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-align: center;
    padding-top: 15px;
}

main > h2 {
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

main > p {
    text-align: justify;
    margin: 16px 16px 16px 16px;
    text-indent: 20px;
    
}

ul {
    list-style-type: circle;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px; 
}

aside {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding: 1px 20px 10px 20px;
}

aside > h1 {
    text-align: center;
    font-size: 2em;
}

aside > h2 {
    text-align: center;
}

aside

footer {
    background-color: #274450;
    margin-left: -10px;
    margin-right: -10px;
}

footer > p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px;
    margin-top: -15px;
}